<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<link href="./stylesheets/ajaxfileupload.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="./js/jquery.js"></script>
	<script type="text/javascript">
	$(function() {
			var file;
			var formData ;
		    $('#fileselect').bind("change", function(e) {
		      var files = e.target.files || e.dataTransfer.files;
		      file = files[0];
		    });
			$('#buttonUpload').click(function() {
				alert(file.Name);
				formData = new FormData();
				formData.append("upload",file);
				var url = "http://bcs.duapp.com/nodemedia/"+file.Name
				$.ajax({
						url : url,
						type : "POST",
						contentType:false,
						processData:false,
						data:formData,
						beforeSend : function(xhr) {
							xhr.overrideMimeType("text/plain; charset=x-user-defined");
						}
					}).done(function(data) {
						window.location.href="/list";  
					});
		
			});
	});
	</script>
</head> 
<body>
	<input type="file" id="fileselect" multiple="multiple">
	<button class="button" id="buttonUpload" >Upload</button>
</body> 
</html>