<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<link href="./stylesheets/ajaxfileupload.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="./js/jquery.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		var url = "http://bcs.duapp.com/nodemedia/";
		$.ajax({
				url : url,
				type : "GET",
				beforeSend : function(xhr) {
					xhr.overrideMimeType("text/plain; charset=x-user-defined");
				}
			}).done(function(data) {
				alert(data);
				if (console && console.log) {
					console.log("Sample of data:", data);
				}
			});
	});
	</script>
</head> 
<body>
	<div>百度云文件地址:</div>
	<div id="filelistDiv">
	  <a href="/show">到展示页面</a>
	</div>
</body> 
</html>