<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link href="./stylesheets/ajaxfileupload.css" type="text/css" rel=stylesheet>
	<script type='text/javascript' src='http://cybertran.baidu.com/cloud/media/assets/cyberplayer/1.0/cyberplayer.min.js'></script>
</head> 
<body>
	<h1 style='text-align: center'><b>显示视频</b></h1>
	<div id='playercontainer'></div>
	<script type='text/javascript'>
		var player = cyberplayer('playercontainer').setup({
		width : 680,
		height : 400,
		backcolor : '#FFFFFF',
		stretching : 'uniform',
		file : 'http://bcs.duapp.com/pangxinlong/media/S6S8002MR.mp4',
		image : 'http://www.example.com/image/name/snap.jpg',
		autoStart : true,
		repeat : 'always',
		volume : 100,
		controlbar : 'top',
		ak:'vPRI2OYEZVunFrD9',
		sk:'x43W4OQI5bkA2yDd'});
	</script> 
</body> 
</html>

